.App {
  text-align: left;
  /* align-items: center; */
  background-color: #777;
  margin: 0;
  padding: 3rem;
}


.stats-container {
  display: inline-flex;
}

#search-box {
  width: 100%;
  padding: 8px;
  border-style: none;
  border-radius: 0px;
  resize: vertical;
  font-size: 16px;
}

#cred-field {
  padding: 4px;
  border-style: none;
  resize: vertical;
  width: 100%;
  font-size: 16px;
  height: 24px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #FFA9A9;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.submission-container {
  float: right;
  padding-right: 8rem;
}

.App-link {
  color: #61dafb;
}

.form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 50%;
  padding-left: 0%;
}

.games {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 50%;
  padding-left: 0%;
}

.login {
  position: sticky;
  top: 1rem;
  max-width: 15rem;
  flex-flow: row;
}

.sub-login {
  display: inline-grid;
}

.stats {
  display: flex;
  flex-flow: row;
  padding-right: 10rem;
  text-align: justify;
  background-color: #777;
  margin-right: 10rem;
}

.section-title {
  margin-top: 1rem;
  padding: 20px;
  background-color: lightcoral;
  width: fit-content;
  border-radius: 10px;
}

.table-header {
  background-color: #777;
}

.btn {
  background-color: #F03737;
  border: none;
  color: white;
  padding: 8px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition: 0.3s;
  cursor: pointer;
  margin: 10px;
}

.main-title {
  font-size: 64px;
  padding-bottom: 6px;
  text-align: center;
  color: lightcoral;
  outline-width: 2px;
  outline-color: lightcoral;
  outline-style: solid;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.4);
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
  transition: 0.3s;
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 20px;
}

.card:hover {
  background-color: #777;
  box-shadow: 0 8px 32px 0 rgba(0,0,0,0.2);
}

.hot-games {
  display: grid;
  grid-template-columns: auto auto auto;
  width: 50%;
}

.hot-card {
  transition: 0.3s;
  border-radius: 2px;
  border-width: 4px;
  border-color: #777;
  margin-top: 4px;
  margin-right: 4px;
  padding: 20px;
  width: 400px;
  min-height: 400px;
}

.hot-card:hover {
  background-color: #777;
  box-shadow: 0 8px 32px 0 rgba(0,0,0,0.4);
}

.btn:hover {
  background-color: gray;
  transition: 0.3s;
  cursor: pointer;
}

.btn:disabled {
  background-color: gray;
  cursor: not-allowed;
}

* {
  margin-top: 0;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
